---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | David Arthur [Assan]"
  description="About Jeanine White Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="https://res.cloudinary.com/drup8mw79/image/upload/v1676856457/darthassan/posts/me-at-work_acjznc.jpg"
          alt="assan at a desk working"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            As an eager and driven cybersecurity enthusiast, I'm honing my
            expertise in the dynamic and challenging domains of web penetration
            testing and malware analysis. I'm committed to leveraging my skills
            to fortify the security of digital ecosystems and safeguard against
            the dangers of malicious cyber threats. I possess:
          </p>
          <ul>
            <li>Knowledge in scripting languages including Python</li>
            <li>
              Knowledge with security toolkits such as Kali Linux, Metasploit,
              and Burp Suite Community.
            </li>
            <li>
              Proficient in translating information from technical to executive
              or management terminology
            </li>
          </ul>
        </div>
      </section>

      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <h5>University of Ghana [2019]</h5>
          <p>Bachelor’s, Information Technology</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Certifications/Courses</h2>
        <div class="content">
          <ul>
            <li>AWS Certified Cloud Practitioner (CCP)</li>
            <li>Practical Ethical Hacking course (PEH) - TCM security</li>
            <li>Google IT Support Certificate</li>
            <li>
              Data Analysis and Visualization with Microsoft Power BI - Udacity
            </li>
            <li>Programming for Data Science for Enterprise - Udacity</li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Experience</h2>
        <div class="content">
          <h5>WACCI, University of Ghana - Programmes Officer [2023]</h5>
          <ul>
            <li>
              Network troubleshooting: Regardless of the central management from
              the University of Ghana, I am responsible for resolving issues
              with wired and wireless connectivity at the Centre’s level and
              ensuring a consistent higher uptime.
            </li>
            <li>
              Laboratory management: I manage the computers in the
              bioinformatics laboratory using windows active directory to
              frequently install patches and applications.
            </li>
            <li>
              End-User Support: I assist students’ staff and faculty to solve
              issues with their computers ranging from software to hardware.
            </li>
            <li>
              Training: Perform routine cyber security training for students,
              staff and faculty members to keep them up to date on how to
              protect themselves and the organization from cyber incidents.
            </li>
            <li>
              IT policies: consult with relevant departments to implements IT
              policies such as 2FA to add additional layer of security on the
              organization’s accounts.
            </li>
            <li>
              Communication and visibility: I develop contents and visuals to
              promote the Centre’s activities on various social media platforms.
            </li>
          </ul>
          <h5 class="my-5">
            African Plant Breeders Association - IT Officer [2023]
          </h5>

          <ul>
            <li>
              Oversee the association’s website management by designing and
              uploading content.
            </li>
            <li>
              Collaborate with international partners around the globe to host
              hybrid events of over 1,000 participants
            </li>
            <li>
              Provide technical advice and assistance where needed regarding
              security related issues as well as best practices.
            </li>
          </ul>
        </div>
      </section>
      <section>
        <h2 class="section-title">Volunteering</h2>
        <div class="content">
          <h5>Web Developer - Woogle Africa [2020]</h5>
          <p>
            Woogle is a group of ICT specialists whose main aim is to train
            aspiring children who are eager to learn more about IT, specifically
            programming. We target basic school pupils and reach out to them
            with our content.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Hobbies & Interests</h2>
        <div class="content">
          <p>Listening to cyber security podcasts and building home labs</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
    filter: grayscale();
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
  .my-5 {
    margin: 1.5em auto 0em;
  }
</style>
